* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
    display: grid;
    gap: 20px;
    justify-items: center;
    
    grid-template-areas:
    "top-header"
    "light-section"
    ;
}

header {
  grid-area: top-header;
  grid-template-rows: repeat(3,80px);
  gap: 15px;
  background-color: #ebc907;
  padding: 20px;
  border-radius: 40px;
  
}

section {
  grid-area: light-section;
  width: 400px;
  height: 600px;
  
}

.housing{
  display: grid;
  grid-template-rows: repeat(3, 80px);
  row-gap: 15px;
  background-color: #ebc907; 
  padding: 20px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: 0 auto;

}
.light {
  width: 80px;
  height: 80px;
  background-color: gray;
  border-radius: 50%;
  transition: 0.3s;
}

#red-light.on {
  background-color: red;
  box-shadow: 0 0 20px #f00;
}

#yellow-light.on {
  background-color: yellow;
  box-shadow: 0 0 20px #fc0;

}

#green-light.on {
  background-color: green;
  box-shadow: 0 0 20px #0f0;
}
